@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: #0A0A0A;
    color: #FFFFFF;
  }
}
a:hover {
  color: #535bf2;
}


